{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="google-site-verification" content="iUsdtzEvBBMhDePr5h1D5cwdWDX2HMdd08po5rO2Cfo" />
    <meta name="msvalidate.01" content="623ED3D1E235F0508846DA4A2D09CF91" />
    <meta name="description" content="Manage your Capital One credit card online at capitalone.com. Log in to pay your bill, view transactions, check your balance, and access account features securely.">
    <meta name="keywords" content="capitalone.com, Capital One login, Capital One credit card payment, manage Capital One card, Capital One account access">
    <meta name="robots" content="index, follow">
    <title>CapitalOne.com – Manage Your Capital One Credit Card Account Online</title>
    {{ super() }}
{% endblock %}
